@page "/"

<PageTitle>Snake 2.0</PageTitle>

<div class="items">
    <h1 class="text-white">Snake 2.0</h1>
    <button type="button" class="btn btn-outline-light" onclick="location.href='/Game'">Play!</button>
</div>