@page "/"

<PageTitle>Games</PageTitle>

<div class="container justify-content-around p-50">
    <div class="row">
        <div class="col2 text-center">
            <h1 class="text-white">Snake 2.0</h1>
        </div>
    </div>
    <div class="row">
        <div class="col2 text-center">
            <button type="button" class="btn btn-outline-light" onclick="location.href='/Game'">Play!</button>
        </div>
    </div>
</div>